{% for artist_name, album_data in data.items() %}
{{- artist_name }}:
  {% for album_name, tracks in album_data.items() %}
    {{- album_name }}:
    tracks
    {%- for track in tracks %}
     - {{ track -}}
{% endfor %}
{%- endfor -%}
{%- endfor -%}