# template.jinja

artists:
{% for artist_key, artist_value in artists.items() %}
  {{ artist_key }}:
    artist_id: {{ artist_value.artist_id }}
    albums:
{% for album_key, album_value in artist_value.albums.items() %}
      {{ album_key }}:
        album_id: {{ album_value.album_id }}
        tracks:
{% for track in album_value.tracks %}
        - {{ track }}
{% endfor %}
{% endfor %}
{% endfor %}
